{% load static %}

<section id="cta" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="cta-text">
              <h4>30 Dias Grátis</h4>
              <p>Aqui na fusion sua empresa vai alem, tudo que você precisa esta aqui!!!</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
            </br><a href="#" class="btn btn-common">Registre se</a>
          </div>
        </div>
      </div>
    </section>